main > h1, main > h2, main > h3, main > h4, main > h5, main > h6 {
    color: #f8f9fa;
}

.close {
    color: #b42411;
    cursor: pointer;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

#top, #back {
    z-index: 20;
    position: fixed;
    text-align: center;
    padding-top: 1.2em;
    box-shadow: 0px 4px 5px #00000075;
    cursor: pointer;
}

#back {
    height: 50px;
    width: 50px;
    top: 10%;
    left: 5%;
    background-color: #198754;
    border: #198754;
}

#back i {
    position: relative;
    bottom: 16%;
    font-size: 1.5em;
}

#top {
    display: none;
    height: 70px;
    width: 70px;
    top: 90%;
    right: 6%;
    background-color: #0d6efd;
    border: #0d6efd;
}

#top i {
    margin-left: 2px;
    font-size: 2em;
}

#top i, #back i {
    color: #f8f9fa;
}

.hover {
    transform: scale(1);
    transition: transform 400ms;
}

.hover:hover {
    transform: scale(1.02);
    
}