<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>

<body class="bg-dark text-dark">
    <header>

        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow" style="background-color: #f8f9faf1;">
            <div class="container-fluid">
                <a href="{{url_for('home')}}">
                    <img src="{{url_for('static', filename='img/logo.png')}}" width="65px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        {% set home = request.endpoint == 'home' %}
                        {% set dashboard = request.endpoint == 'dashboard' %}
                        {% set post_form = request.endpoint == 'post_form' %}
                        {% set resolved_posts = request.endpoint == 'get_all_post_resolved' %}

                        <li class="nav-item">
                            <a href="{{ url_for('home') }}"
                                class="nav-link {{ 'fw-bold text-dark' if home else '' }}">Accueil</a>
                        </li>

                        <li class="nav-item">
                            <a href="{{url_for('get_all_post_resolved')}}"
                                class="nav-link {{ 'fw-bold text-dark' if resolved_posts else '' }}">
                                Paris résolus
                            </a>
                        </li>

                        {% if session['logged_in'] %}
                        <li class="nav-item">
                            <a href="{{ url_for('post_form') }}"
                                class="nav-link {{ 'fw-bold text-dark' if post_form else '' }}">
                                Créer un pari
                            </a>
                        </li>


                    </ul>

                    <span id="quote" class="text-dark p-2 fst-italic me-auto"></span>

                    <form class="d-flex" action="{{url_for('search_posts')}}" method="POST">
                        <div class="input-group">
                            <input class="form-control" type="search" name="search" placeholder="Rechercher un pari...">
                            <button class="btn btn-info text-light me-3" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>

                    <span class="nav-item">
                        <a href="{{url_for('dashboard')}}" tabindex="0" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Accès au Dashboard" class="fw-bold text-dark">
                            {{ session['user_name'] | capitalize}} {{ session['user_last_name'] | capitalize }}
                        </a>
                    </span>

                    <span class="nav-item px-2 text-dark">
                        Masters: <span
                            class="badge rounded-pill {{'bg-primary' if session['user_wallet'] > 0 else 'bg-danger'}} bg-primary p-2">{{ session['user_wallet'] }}
                            <i class="fas fa-money-bill-alt"></i></span>
                    </span>

                    <div class="nav-item d-flex">
                        <a href="{{url_for('logout')}}" class="btn btn-success ms-2 float-right">Déconnexion</a>
                    </div>
                    {% else %}
                    </ul>
                    <span id="quote" class="text-dark p-2 fst-italic mx-auto"></span>
                    <div class="nav-item ms-auto d-flex">
                        <form class="d-flex" action="{{url_for('search_posts')}}" method="POST">
                            <div class="input-group">
                                <input class="form-control" type="search" name="search" placeholder="Rechercher un pari...">
                                <button class="btn btn-info text-light me-3" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                        <a href="{{url_for('login')}}" class="btn btn-success ms-2"><i
                                class="fas fa-sign-in-alt me-2"></i>Connexion</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>


    <main class="mt-5 p-3">
        {% if request.endpoint != 'home' %}
        <a href="{{ url_for('home') }}">
            <div id="back" style="border-radius: 50%;" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom"
                title="Retour"><i class="fas fa-arrow-left"></i></div>
        </a>
        {% endif %}

        {% if not session['logged_in'] %}
        <p class="text-warning text-center">
            Vous devez vous connecter pour participer aux paris
        </p>

        {% elif session['user_wallet'] < 1 %}
        <p class="text-danger text-center">
            Vous n'avez plus de masters, vous ne pouvez plus parier
        </p>
        {% endif %}

        <div id="top" style="border-radius: 50%;"><i class="fas fa-angle-up"></i></div>
        {% block content %}{% endblock %}


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
        </script>
        <script>
            const scrollBtn = document.querySelector("#top")

            window.onscroll = function scrollDetect() {
                if (document.documentElement.scrollTop > 40) {
                    scrollBtn.style.display = "block"
                } else {
                    scrollBtn.style.display = "none"
                }
            }


            scrollBtn.addEventListener('click', (e) => {
                e.preventDefault
                document.documentElement.scrollTop = 0
            })

            const phrases = [
                "Paraît qu'ça rend sourd",
                "Tout est dans le poignet",
                "Attention à la crampe",
                "Même ta mère y joue",
                "A pratiquer entre amis"
            ]

            random = Math.floor(Math.random() * phrases.length);
            selectedQuote = phrases[random]
            quote = document.querySelector("#quote")
            quote.textContent = selectedQuote

            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })

            var exampleEl = document.getElementById('toto')
            var tooltip = new bootstrap.Tooltip(exampleEl, options)
        </script>
        {% block scripts %}{% endblock %}
</body>

</html>