{% extends 'base.html' %}

{% block head%}
<title>Pari</title>
{% endblock %}


{% block content %}

<div class="col col-md-10 card mx-auto my-3 bg-light shadow">
    <div class="card-body bg-light p-4 text-dark">
        <p class="card-subtitle d-inline-block fst-italic mb-2">
            <span class="badge bg-info fst-normal">{{pari[9]}}</span>
            <span class="badge fst-normal bg-secondary ms-1">{{ group_name }}</span>
            Créé par: <img class="rounded pb-2" style="width: 25px;"
                src="https://robohash.org/{{pari[1].capitalize()}}{{ pari[2].capitalize() }}.png"
                alt="{{pari[1].capitalize()}}_{{ pari[2].capitalize() }}"> {{ pari[1].capitalize() }} {{
            pari[2].capitalize() }} Le: {{ pari[6].strftime('%d-%m-%Y') }} à {{ pari[6].strftime('%H:%M')
            }}
        </p>

        <h3 class="card-title">{{ pari[3] }}</h3>
        <p class="card-text">
            {{ pari[4] }}
        </p>

        {% if pari[10] %}
        <div class="text-center border rounded shadow-sm border-info p-3 mx-auto my-3 w-50">
            <h4>Prix supplémentaire mis en jeu par {{ pari[1].capitalize() }}:</h4>
            <span>
                {{ pari[10] }}
            </span>
        </div>

        {% endif %}

        <div class="mx-auto">
            {% if sum_of_all_votes > 1 %}
            {% set voters = "VOTANTS" %}
            {% else %}
            {% set voters = "VOTANT" %}
            {% endif %}

            <h5 class="fw-normal">SOMME TOTALE: <span class="fw-bold">{{ masters_sum_of_all_options }}</span>
                MASTERS POUR <span class="fw-bold">{{ sum_of_all_votes }}</span> {{ voters }}</h5>

            <form action="{{ url_for('play_bet') }}" method="POST">
                {% for option in options %}
                {% if masters_sum_of_all_options == 0 %}
                {% set width_for_progress_bar = 0 %}
                {% else %}
                {% set width_for_progress_bar = (option[2]/masters_sum_of_all_options)*100 %}
                {% endif %}
                <div class="form-check d-inline-block w-75">
                    <label class="form-label" for="option-{{option[0]}}">{{option[1]}}</label>
                    {% if pari[8] == 0 %}
                    {% if check == false %}
                    <input class="form-check-input checkCheck" type="radio" name="option_id" value="{{option[0]}}"
                        id="option-{{option[0]}}">
                    {% endif %}
                    {% endif %}

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ width_for_progress_bar }}%;"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <p style="font-style: italic;">
                        {{ option[2] }} masters
                    </p>
                </div>
                {% if session['user_id'] == pari[7] and pari[8] == 0 %}
                <a href="{{ url_for('set_winner', post_id=pari[0], option_id=option[0]) }}"
                    class="btn btn-warning d-inline-block fw-bold mb-5"><i class="fas fa-coins"></i> Option gagnante</a>
                {% endif %}
                <br>
                {% endfor %}

                {% if pari[8] %}
                <p class="fw-bold ms-4">
                    Ce pari est clôturé !
                </p>
                {% elif check == true and session %}
                <p class="fw-bold ms-4">
                    Vous avez déjà voté dans ce pari !
                </p>
                {% elif session and session['user_wallet'] < 1 %} <p class="fw-bold text-danger text-center">
                    Vous n'avez plus de masters. Vous ne pouvez plus voter !
                    </p>
                    {% elif session %}
                    <input type="hidden" name="post_id" value="{{ pari[0] }}">
                    <input class="form-control w-50 d-inline-block" name="masters" id="masters" type="number"
                        placeholder="Nombre de masters à mettre en jeu">
                    <button class="btn btn-success d-inline-block mb-1 disabled" type="submit"
                        id="submitVote">Voter</button>
                    {% else %}
                    <p class="fw-bold text-danger text-center">
                        Vous devez vous connecter pour pouvoir voter !
                    </p>
                    {% endif %}
            </form>
        </div>
    </div>
</div>

<h3 class="text-center">Espace commentaire</h3>
<div class="col mx-auto col-md-8 border shadow-sm rounded p-3 card">
    {% if comments %}
    {% for data in comments %}
    <div class="border mb-3 p-2 rounded shadow-sm">
        <div class="d-flex mb-3">
            <img class="img-thumbnail p-0 rounded me-2" style="width: 75px;"
                src="https://robohash.org/{{data[0].capitalize()}}{{ data[1].capitalize() }}.png"
                alt="{{data[0].capitalize()}}_{{ data[1].capitalize() }}">
            <div>
                <p class="h5">{{ data[0].capitalize() }} {{ data[1].capitalize() }}</p>
                <p>{{ data[3].strftime('%d-%m-%Y') }} à {{ data[3].strftime('%H:%M') }}</p>
            </div>
        </div>
        <p>{{ data[2] }}</p>
        {% if session["user_id"] == data[5] %}
        <a href="{{ url_for('delete_comment', comment_id=data[4], post_id=pari[0]) }}" class="link-danger">Supprimer le
            commentaire</a>
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
    <span class="text-center fst-italic">Pas encore de commentaires</span>
    {% endif %}
</div>

{% if session['logged_in'] %}
<h3 class=" mt-3 text-center">Ajouter un commentaire</h3>
<div class="col col-md-8 mx-auto border shadow-sm rounded bg-white">
    <form class="mx-auto p-3" action="{{ url_for('create_comment', post_id=pari[0]) }}" method="POST">
        <input type="hidden" value="{{ pari[0]}}" name="post_id">
        <div class="form-floating">
            <textarea class="form-control" name="content" placeholder="Votre commentaire ici"
                id="floatingTextarea content"></textarea>
            <label for="floatingTextarea">Votre commentaire</label>
        </div>
        <button class="btn btn-success mt-3" type="submit">Envoyer</button>
    </form>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
    const checkButtons = document.querySelectorAll('.checkCheck')
    const submitVote = document.querySelector('#submitVote')
    const masters = document.querySelector("#masters")
    let mastersOk = false
    let choiceOk = false

    function checkConditions() {
        if (mastersOk && choiceOk) {
            submitVote.classList.remove("disabled")
        } else {
            submitVote.classList.add("disabled")
        }
    }

    masters.addEventListener('keyup', (e) => {
        if (masters.value > 0) {
            mastersOk = true
        } else {
            mastersOk = false
        }
        checkConditions()
    })

    checkButtons.forEach((button) => {
        button.addEventListener('click', () => {
            choiceOk = true
        })
        checkConditions()
    })
</script>
{% endblock %}