{% extends 'base.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}


{% block content %}
<div class="mx-auto p-1 w-75">
    <div class="pt-3 w-75 mx-auto">
        <div class="card mb-3 shadow mx-auto">
            <div class="card-body bg-light text-dark">
                <div class="mb-2 text-center">
                    <img class="img-thumbnail p-0 rounded me-2" style="width: 105px;"
                        src="https://robohash.org/{{session['user_name'] | capitalize}}{{ session['user_last_name'] | capitalize }}.png"
                        alt="{{session['user_name'] | capitalize}}_{{ session['user_last_name'] | capitalize }}">

                    <p class="fw-bold fs-3 d-inline">
                        {{ session['user_name'] | capitalize }} {{ session['user_last_name'] | capitalize }} | Masters:
                        <span class="fw-bold">{{ session['user_wallet'] }} <i class="fas fa-money-bill-alt"></i></span>
                    </p>
                </div>
                <ul class="list-group w-75 mx-auto text-center">
                    <li class="list-group-item"><span class="fw-bold">Paris créés: </span>{{ posts | length }}</li>
                    <li class="list-group-item"><span class="fw-bold">Paris résolus: </span>{{ resolved }}</li>
                    <li class="list-group-item"><span class="fw-bold">Total de Masters joués: </span>{{ total_masters }}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="w-75 mx-auto mb-3 d-flex justify-content-between">
        <a href="{{url_for('group_form')}}" class="btn btn-success btn-sm text-center">Créer un groupe</a>
        <a href="{{ url_for('post_form') }}" class="btn btn-primary btn-sm text-center">Créer un pari</a>
    </div>

    <div class="card w-75 mx-auto mb-3 shadow">
        <div class="list-group">
            {% for group in groups %}
            <div class="list-group-item list-group-item-action d-flex justify-content-between">

                <a href="{{url_for('fetch_posts_per_group', group_id=group[1])}}"
                    class="fw-bold text-primary text-decoration-none">
                    <span class="badge bg-primary text-light text-decoration-none">
                        <i class="fas fa-users"></i>
                    </span>
                    {{group[0]}}
                </a>
                <a href="" class="text-danger text-decoration-none pageDeleteLink" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" data-id="">
                    Quitter ce groupe
                </a>
            </div>
            {% endfor %}
        </div>
    </div>


    <h2 class="text-center text-light">
        N'oubliez pas de résoudre les paris que vous avez crées.
    </h2>

    {% if posts %}
    {% for post in posts %}
    <div class="pt-3">
        <div class="card mb-3 shadow hover">
            <div class="card-body bg-light text-dark">
                <div class="d-flex justify-content-between">

                    <p class="card-subtitle d-inline-block fst-italic mb-2">
                        <span class="badge bg-info fst-normal">{{ post[8] }}</span> Créé par:
                        <img class="rounded pb-2" style="width: 25px;"
                            src="https://robohash.org/{{post[5].capitalize()}}{{ post[6].capitalize() }}.png"
                            alt="{{post[5].capitalize()}} {{ post[6].capitalize() }}">
                        {{ post[5].capitalize() }} {{ post[6].capitalize() }} Le: {{ post[4].strftime('%d/%m/%Y') }}
                        à {{ post[4].strftime('%H:%M') }}
                    </p>

                    <div>
                        {% if post[9] %}
                        {% set badge_ct = "Résolu" %}
                        {% set badge_bg = "bg-success" %}
                        {% else %}
                        {% set badge_ct = "Non résolu" %}
                        {% set badge_bg = "bg-warning text-dark" %}
                        {% endif %}
                        <span class="badge {{ badge_bg }}">{{ badge_ct }}</span>
                    </div>

                </div>
                <h3 class="card-title">{{ post[1] }}</h3>
                <div class="mt-2 rounded p-2">
                    <p class="card-text">
                        {{ post[2] }}
                        <a href="{{url_for('show_post', post_id=post[0])}}" class="stretched-link"></a>
                    </p>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="card w-75 mx-auto mb-3 shadow">
        <div class="card-body">
            <h2 class="card-title text-center">Vous avez clôturé tous vos paris</h2>
        </div>
    </div>
    {% endif %}
</div>

<!-- Modale -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Voulez-vous vraiment quitter ce groupe ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                <a href="" type="button" class="btn btn-danger" id="modalDeleteLink">Quitter le groupe</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<!-- Script permettant de donner l'id du groupe au lien de la modale -->
<script>
    let modalDeleteLink = document.querySelector('#modalDeleteLink')
    const pageDeleteLink = document.querySelectorAll(".pageDeleteLink")
    let deleteLinkValue = "{{ url_for('quit_group', group_id=0) }}".slice(0, -1)
    pageDeleteLink.forEach((elem)=>{
        groupId = elem.previousElementSibling.href.split('/').at(-1)
        elem.dataset.id = groupId
        elem.addEventListener('click', ()=>{
            let deleteUrl = deleteLinkValue+elem.dataset.id
            modalDeleteLink.href = deleteUrl
        })
    })
</script>
{% endblock %}

