{% extends 'base.html' %}

{% block content %}
<h2 class="fst-italic text-center mt-5"><i class="fas fa-exclamation-circle"></i> Erreur 404</h2>

<p class="text-light fw-bold text-center">{{error}}</p>

<div class="bg-light rounded w-50 mx-auto p-3 pb-0">
    <img class="mx-auto d-block" src="{{url_for('static', filename='img/Reine_Drucker.png')}}" alt="">
</div>

{% endblock %}

