{% extends 'base.html' %}

{% block head%}
<title>Group</title>
{% endblock %}

{% block content %}

<div class="text-center">

    <form action="{{url_for('create_group')}}" class="w-50 mt-3 shadow border rounded p-3 px-4 bg-light mx-auto" method="POST">
        <div class="mb-2 form-floating">
            <input type="text" class="form-control" placeholder="Nom du groupe" name="name" id="name">
            <label for="name" class="">Nom du groupe</label>
        </div>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Ajouter un membre" name="" id="member">
            <button class="btn btn-warning" id="add-member" type="button">
                <i class="fas fa-plus" style="color: black;"></i>
            </button>
        </div>

        <div id="myUL">
            <h5 class="mt-3">Membres:</h5>
        </div>

        <button class="btn btn-success" type="submit">🍆 Créer un groupe 🍆</button>
    </form>
</div>

{% endblock %}

{% block scripts %}
<script>

    // Fonction créant un nouvel input à la liste des membres
    let newId = 0
    function newElement() {
        newId++
        const newDiv = document.createElement('div')
        newDiv.classList.add("input-group", "mt-3")
        const newInput = document.createElement('input') // Variable créant le newInput
        newInput.type = "text"
        newInput.classList.add("form-control", "w-50")
        newInput.name = "member-" + newId
        const inputValue = document.querySelector('#member').value // Variable récupérant la valeur de l'input du dessus
        // const t = document.createTextNode(inputValue) // La valeur est ajoutée dans un nouvel élément à créer
        newInput.value = inputValue // Le nouvel élément est créé
        if (inputValue === '') {
            alert("Vous devez renseigner un nouveau membre !");
        } else {
            document.querySelector('#myUL').appendChild(newDiv)
            newDiv.appendChild(newInput);
            newInput.classList.add('member')
        }
        document.querySelector('#member').value = "" // On vide l'input

        // Ici, on va créer l'icone de suppression grâce à Font Awesome
        const button = document.createElement("button")
        button.classList.add("close", "btn", "btn-danger")
        button.type = "button"
        const span = document.createElement("i");
        span.classList.add("far", "fa-times-circle", "ms-1", "text-light")
        button.appendChild(span);
        newDiv.appendChild(button);

        // On récupère tous les éléments ayant la class .close
        let deleteButton = document.querySelectorAll('.close')

        // On met un écouteur d'événement sur chacun des éléments...
        for (let i = 0; i < deleteButton.length; i++) {
            deleteButton[i].addEventListener('click', () => {
                deleteButton[i].parentElement.remove() // ... Qui va supprimer celui sélectionné au clic
            })
        }
    }
    let myButton = document.querySelector('#add-member')
    myButton.addEventListener('click', newElement)
</script>
{% endblock %}