{% extends 'base.html' %}

{% block head%}
<title>Accueil</title>
{% endblock %}

{% block content %}


<h2 class="text-center">Bienvenue - Voici les paris en cours</h2>
<div class="text-center mt-3">
    {% for category in categories %}
    <a href="{{url_for('posts_per_categories', id_category=category[0])}}" type="button" class="btn btn-success">{{
        category[1] }}</a>
    {% endfor %}
</div>
<div class="p-1">
    <div class="pt-3">
        {% for pari in paris %}
        <div class="card w-75 mx-auto mb-3 shadow hover">
            <div class="card-body bg-light text-dark">
                <p class="card-subtitle d-inline-block fst-italic mb-2">
                    <span class="cat badge bg-info fst-normal">{{pari[8] }}</span>
                    Créé par:
                    <img class="rounded pb-2" style="width: 25px;"
                        src="https://robohash.org/{{pari[5].capitalize()}}{{ pari[6].capitalize() }}.png"
                        alt="{{pari[5].capitalize()}} {{ pari[6].capitalize() }}">
                    {{ pari[5].capitalize() }} {{ pari[6].capitalize() }} Le: {{ pari[4].strftime('%d/%m/%Y') }} à {{
                    pari[4].strftime('%H:%M') }}
                </p>
                <h3 class="card-title">{{ pari[1] }}</h3>
                <div class="mt-2 rounded p-2">
                    <p class="card-text">
                        {{ pari[2] }}
                        <a href="{{url_for('show_post', post_id=pari[0])}}" class="stretched-link"></a>
                    </p>
                </div>
            </div>
        </div>
            {% endfor %}
    </div>
</div>
</main>
{% endblock %}