{% extends 'base.html' %}

{% block head %}
<title>Connexion</title>
{% endblock %}

{% block content %}

{% if session %}

<div class="text-center p-3 mt-3 bg-light rounded w-50 mx-auto">
    <h2>Vous êtes déjà connecté !</h2>
</div>

{% else %}

<div class="text-center">
    <img class="mt-4 mb-2" src="{{url_for('static', filename='img/logo_full.png')}}" width="250px">
    <form class="shadow border rounded form-signin bg-light" action="{{url_for('user_sign_in')}}" method="POST">
        <h2 class="h3 mb-3 fw-normal">Connectez-vous !</h2>
        <div class="mb-2">
            <label for="email" class="sr-only">E-mail</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Adresse E-mail" required>
        </div>
        <div class="mb-2">
            <label for="password" class="sr-only">Mot de passe</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" required>
        </div>
        <button class="btn btn-primary btn-block mt-2" type="submit">Se connecter</button>
        <a class="d-block" href="{{ url_for('register_page') }}">S'inscrire</a>
    </form>
</div>

{% endif %}
{% endblock %}