{% extends 'base.html' %}

{% block head%}
<title>Créer un post</title>
{% endblock %}

{% block content %}

<h2 class="text-center">Créer un nouveau post</h2>

<div class="text-center">
    <form class="w-50 mt-3 shadow border rounded p-3 px-4 bg-light mx-auto" action="{{ url_for('create_post') }}" method="POST">

        {% if user_groups %}
        <div class="d-flex">
            <div class="form-check form-switch w-50 py-2 text-start">
                <input class="form-check-input" type="checkbox" role="switch" id="addToGroup">
                <label class="form-check-label text-start" for="addToGroup">Ajouter ce pari à un groupe</label>
            </div>
    
            <div class="form-check form-switch w-50 py-2 text-start d-none" id="prizeSwitch">
                <input class="form-check-input" type="checkbox" role="switch" id="addPrize">
                <label class="form-check-label text-start" for="addPrize">Ajouter un prix supplémentaire</label>
            </div>

        </div>

        <div class="mb-2 form-floating d-none" id="groupSelect">
            <select class="form-control" name="group_id" id="group floatingSelect">
                <option selected value="0">Pas de groupe</option>
                {% for group in user_groups %}
                <option value="{{ group[0] }}">{{ group[1] }}</option>
                {% endfor %}
            </select>
            <label class="form-label text-dark" for="floatingSelect">Groupe</label>
        </div>

        <div class="mb-3 form-floating d-none" id="prizeInput">
            <input class="form-control" type="text" id="prize" name="prize" placeholder="Prix supplémentaire">
            <label for="title">Prix supplémentaire</label>
        </div>
        {% endif %}

        <script>
            const switchInput = document.querySelector("#addToGroup")
            const groupSelect = document.querySelector("#groupSelect")
            const prizeSwitch = document.querySelector("#prizeSwitch")
            const addPrize = document.querySelector("#addPrize")
            const prizeInput = document.querySelector("#prizeInput")

            switchInput.addEventListener('click',()=>{
                console.log(switchInput.checked)
                if (switchInput.checked) {
                    groupSelect.classList.remove("d-none")
                    prizeSwitch.classList.remove("d-none")
                } else {
                    groupSelect.classList.add("d-none")
                    prizeSwitch.classList.add("d-none")
                }
            })

            addPrize.addEventListener('click', ()=>{
                if (addPrize.checked) {
                    prizeInput.classList.remove("d-none")
                } else {
                    prizeInput.classList.add("d-none")
                }
            })
        </script>

        <div class="mb-2 form-floating">
            <select class="form-control" name="category_id" id="category floatingSelect">
                {% for category in categories %}
                <option value="{{ category[0] }}">{{ category[1] }}</option>
                {% endfor %}
            </select>
            <label class="form-label text-dark" for="floatingSelect">Catégorie</label>
        </div>

        <div class="mb-3 form-floating">
            <input class="form-control" type="text" id="title" name="title" placeholder="Titre du pari">
            <label for="title">Titre du pari</label>
        </div>
        <span id="titleLength"></span>

        <span class="text-danger" id="length"></span>
        <div class="mb-3 form-floating">
            <textarea class="form-control" style="height: initial;" name="content" id="content" rows="10"
                placeholder="Contenu du post" onkeyup="checkContent()"></textarea>
            <label for="content">Contenu du post</label>
        </div>

        <div class="mb-1 input-group">
            <input class="form-control" type="text" id="proposition" name="proposition" placeholder="Proposition">
            <button class="btn btn-warning" id="add-option" type="button">
                <i class="fas fa-plus" style="color: black;"></i>
            </button>
        </div>

        <div id="myUL">
            <h5 class="mt-3">Options:</h5>
        </div>

        <br>
        <button class="btn btn-success mb-3 disabled" type="submit" id="submit">Envoyer</button>
    </form>
</div>


{% block scripts %}
<script>

    const title = document.querySelector('#title')
    const titleLength = document.querySelector('#titleLength')
    const content = document.querySelector('#content')
    const contentLength = document.querySelector('#length')
    const submit = document.querySelector('#submit')

    function checkContent(){
        if (content.value.length < 20){
            content.classList.add('border-danger')
            contentLength.textContent = "Le contenu doit faire plus de 20 caractères"
            submit.classList.add('disabled')
        } else {
            content.classList.remove('border-danger')
            submit.classList.remove('disabled')
            contentLength.textContent = ""
        }
    }

    // Fonction créant un nouvel input à la liste des propositions
    let newId = 0
    function newElement() {
        newId++
        const newDiv = document.createElement('div')
        newDiv.classList.add("input-group", "mt-3")
        const newInput = document.createElement('input') // Variable créant le newInput
        newInput.type = "text"
        newInput.classList.add("form-control", "w-50")
        newInput.name = "option-" + newId
        const inputValue = document.querySelector('#proposition').value // Variable récupérant la valeur de l'input du dessus
        // const t = document.createTextNode(inputValue) // La valeur est ajoutée dans un nouvel élément à créer
        newInput.value = inputValue // Le nouvel élément est créé
        if (inputValue === '') {
            alert("Vous devez renseigner une proposition !");
        } else {
            document.querySelector('#myUL').appendChild(newDiv)
            newDiv.appendChild(newInput);
            newInput.classList.add('option')
        }
        document.querySelector('#proposition').value = "" // On vide l'input

        // Ici, on va créer l'icone de suppression grâce à Font Awesome
        const button = document.createElement("button")
        button.classList.add("close", "btn", "btn-danger")
        button.type = "button"
        const span = document.createElement("i");
        span.classList.add("far", "fa-times-circle", "ms-1", "text-light")
        button.appendChild(span);
        newDiv.appendChild(button);

        // On récupère tous les éléments ayant la class .close
        let deleteButton = document.querySelectorAll('.close')

        // On met un écouteur d'événement sur chacun des éléments...
        for (let i = 0; i < deleteButton.length; i++) {
            deleteButton[i].addEventListener('click', () => {
                deleteButton[i].parentElement.remove() // ... Qui va supprimer celui sélectionné au clic
            })
        }
    }
    let myButton = document.querySelector('#add-option')
    myButton.addEventListener('click', newElement)
</script>
{% endblock %}

{% endblock %}