{% extends 'base.html' %}

{% block head%}
<title>{{ group_name }}</title>
{% endblock %}


{% block content %}

<h2 class="text-center">{{ group_name }}</h2>

<div class="pt-3">
    {% if paris %}
        {% for pari in paris %}
        <div class="card w-75 mx-auto mb-3 shadow hover">
            <div class="card-body bg-light text-dark">
                <p class="card-subtitle d-inline-block fst-italic mb-2"><span class="badge bg-info fst-normal">toto</span> Créé par: <img class="rounded pb-2" style="width: 25px;"
                    src="https://robohash.org/{{pari[4].capitalize()}}{{ pari[5].capitalize() }}.png"
                    alt="{{pari[4].capitalize()}} {{ pari[5].capitalize() }}"> {{ pari[4].capitalize() }} {{ pari[5].capitalize() }} Le: {{ pari[3].strftime('%d/%m/%Y') }} à {{  pari[3].strftime('%H:%M') }}</p>
                <h3 class="card-title">{{ pari[1] }}</h3>
                <div class="mt-2 rounded p-2">
                    <p class="card-text">
                        {{ pari[2] }}
                        <a href="{{url_for('show_post', post_id=pari[0])}}" class="stretched-link"></a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="card w-75 mx-auto mb-3 shadow hover">
        <div class="card-body bg-light text-dark">
            <span>Il n'y a pas encore de pari dans ce groupe</span>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}