{% extends 'base.html' %}

{% block head%}
<title>Inscription</title>
{% endblock %}

{% block content %}

<div class="text-center">
    <img class="mt-4 mb-2" src="{{url_for('static', filename='img/logo_full.png')}}" width="250px">
    <form action="{{ url_for('user_register') }}" class="border shadow rounded form-signin bg-light" method="POST">

        <h1 class="h3 mb-3 fw-normal">Inscrivez-vous</h1>
        <div class="mb-2">
            <label for="name" class="form-label sr-only">Prénom</label>
            <input type="text" name="name" class="form-control" placeholder="Prénom">
        </div>
        <div class="mb-2">
            <label for="last_name" class="form-label sr-only">Nom</label>
            <input type="text" name="last_name" class="form-control" placeholder="Nom">
        </div>
        <div class="mb-2">
            <label for="email" class="form-label sr-only">E-mail</label>
            <input type="email" name="email" class="form-control" placeholder="E-mail">
        </div>
        <div class="mb-2">
            <label for="password" class="form-label sr-only">Mot de passe</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe" onkeyup="check()">
        </div>
        <div class="mb-2">
            <label for="password-check" class="form-label sr-only">Confirmer le mot de passe</label>
            <input type="password" id="password-check" class="form-control" placeholder="Confirmer le mot de passe" onkeyup="check()">
        </div>
        <button class="btn btn-success mt-2" type="submit" id="submit">Envoyer</button>
    </form>
</div>

{% endblock %}

{% block scripts %}
<script>
    const pass = document.querySelector("#password")
    const verif = document.querySelector("#password-check")
    const submit = document.querySelector("#submit")

    function check() {

        if (pass.value != verif.value) {
            console.log("NON");
            verif.classList.add('border-danger')
            submit.classList.add('disabled')
        } else {
            console.log("OUI");
            verif.classList.remove('border-danger')
            submit.classList.remove('disabled')
            verif.classList.add('border-success')
        }

    }



</script>
{% endblock %}